<ion-header>
    <ion-toolbar  text-center>
        <ion-title>Clients</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-group>
            <ion-item lines="full">
                <ion-avatar slot="start" style="margin-bottom: auto">
                    <img src="assets/clients/65.jpg" margin-bottom="100px">
                </ion-avatar>
                <ion-col>
                    <ion-row>
                        <ion-col>
                            <ion-text>Kelsi scott</ion-text>
                        </ion-col>
                        <span text-end>
                        <ion-chip>
                            <ion-icon name="pin" color="dark"></ion-icon>
                            <ion-label>Torrontoz</ion-label>
                        </ion-chip>
                        </span>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-text text-justify>

                                <small> WebOsmotic has done excellent job in delivering our project work.They completed
                                    the project as per requirement and as per committed deadline.Excellent team and
                                    highly recommended for development work team consist killed developer.
                                </small>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-item>

            <ion-item lines="full">
                <ion-avatar slot="start" style="margin-bottom: auto">
                    <img src="assets/clients/32.jpg" margin-bottom="100px">
                </ion-avatar>
                <ion-col>
                    <ion-row>
                        <ion-col>
                            <ion-text>John Hamilton</ion-text>
                        </ion-col>
                        <span text-end>
                        <ion-chip>
                            <ion-icon name="pin" color="dark"></ion-icon>
                            <ion-label><small>New Yourk</small></ion-label>
                        </ion-chip>
                        </span>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-text text-justify>
                                <small>
                                    WebOsmotic has been excellent to work with. They are top-notch programmer who knows
                                    GWT like the back of their hand. They are always up-front about their availability
                                    and skilled developer and a nice team dealing withthem is always a pleasure.
                                </small>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-item>

            <ion-item lines="full">
                <ion-avatar slot="start" style="margin-bottom: auto">
                    <img src="assets/clients/43.jpg" margin-bottom="100px">
                </ion-avatar>
                <ion-col>
                    <ion-row>
                        <ion-col>
                            <ion-text>David Root</ion-text>
                        </ion-col>
                        <span text-end>
                        <ion-chip>
                            <ion-icon name="pin" color="dark"></ion-icon>
                            <ion-label>Alaska</ion-label>
                        </ion-chip>
                        </span>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-text text-justify>
                                <small>
                                    The professional relationship with WebOsmotic has been beyond our expectations. I
                                    would like to congratulate you on your levels of customer service, as your team is
                                    always quick to respond, highly competent and extremely courteous. We have shared a
                                    wonderful experience working their highly competent and flexible team who has always
                                    been alongside during critical deliveries and implementations.
                                </small>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-item>

            <ion-item lines="full">
                <ion-avatar slot="start" style="margin-bottom: auto">
                    <img src="assets/clients/34.jpeg" margin-bottom="100px">
                </ion-avatar>
                <ion-col>
                    <ion-row>
                        <ion-col>
                            <ion-text>Soffie Watson</ion-text>
                        </ion-col>
                        <span text-end>
                        <ion-chip>
                            <ion-icon name="pin" color="dark"></ion-icon>
                            <ion-label>Sydney</ion-label>
                        </ion-chip>
                        </span>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-text text-justify>
                                <small>
                                    WebOsmotic has now been part of our team for many months,and I do not know what we
                                    would do without them and their team.Always professional, they makes sure to get
                                    things done on time,and delivers code which very very rarely ever has any bugs.I
                                    recommend WebOsmotic to anyone who needs Java UI GWT expertise.
                                </small>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>
