<ion-header>
    <ion-toolbar text-center>
        <ion-title>Contact</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header > <ion-card-title>WebOsmotic : </ion-card-title> </ion-card-header>
        <ion-card-content>

    <ion-row>
        <ion-col>
            <span><ion-icon name="pin"  padding-end></ion-icon>
                    A-6, GF Someshwar Nagar Society,
                    Bhatar Road,Joggers Park
                    Gujarat,
                    Surat - 395007.
                </span>
        </ion-col>
    </ion-row>

    <ion-row >
        <ion-col>
                <span><ion-icon name="call" padding-end></ion-icon> 8469499488</span>
        </ion-col>
    </ion-row>

    <ion-row >
        <ion-col>
                <span><ion-icon name="mail" padding-end></ion-icon>Hr.webosmotic@gmail.com</span>
        </ion-col>
    </ion-row>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header > <ion-card-title> Reach us on : </ion-card-title> </ion-card-header>
        <ion-card-content>

            <ion-row text-center>
                <ion-col>
                    <ion-button   size="mini"  fill="outline" >
                        <ion-icon name="logo-facebook"></ion-icon>
                    </ion-button>
                </ion-col>

                <ion-col>
                    <ion-button   size="mini"  fill="outline" color="danger">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button   size="mini"  fill="outline">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>
