<ion-header>
  <ion-toolbar text-center >
    <ion-title text-center>Portfolio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid margin >
    <ion-row text-center >
      <ion-col size="6"  size-sm="4"  margin-bottom>
        <ion-card >
          <img src="assets/portfolio/cx-quest.png"/>
        </ion-card>
        <small> CXQUEST </small>
      </ion-col>

      <ion-col size="6"  size-sm="4"  margin-bottom>
        <ion-card >
          <img src="assets/portfolio/finfolio.png"/>
        </ion-card>
        <small> Finfolio </small>
      </ion-col>

      <ion-col size="6"  size-sm="4"  margin-bottom>
        <ion-card >
          <img src="assets/portfolio/hellowave.png"/>
        </ion-card>
        <small> HELLO WAVE </small>
      </ion-col>

      <ion-col size="6"  size-sm="4"  margin-bottom>
        <ion-card >
          <img src="assets/portfolio/readoz.png"/>
        </ion-card>
        <small> READOZ </small>
      </ion-col>

      <ion-col size="6"  size-sm="4"  margin-bottom>
        <ion-card >
          <img src="assets/portfolio/rlo.png"/>
        </ion-card>
        <small> RLO TRAINING </small>
      </ion-col>

  <ion-col size="6"  size-sm="4"  margin-bottom>
        <ion-card >
          <img src="assets/portfolio/appsatcloud.png"/>
        </ion-card>
        <small> APPS@CLOUD </small>
      </ion-col>


    </ion-row>
  </ion-grid>
</ion-content>
